---
const platform = 'github';
const username = 'reycy07'
---

<footer>
    <p>Mas informacion sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a></a></p>
</footer>